@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
}

/* headers and logo */
h1, h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
    color:black;
    margin-left: 30px;
    font-family: Zen Dots, sans-serif;
}

/* nav bar */
#menu {
    display: flex;
    justify-content: space-evenly;
}

#menu li {
    font-size: 120%;
    list-style-type: none;
}

#menu a{
    color:inherit;
    text-decoration: none;
}

#logo, #menu{
    line-height: 75px;
}

#menu a:hover{
    border-bottom: 1px solid chocolate;
    border-top: 1px solid chocolate;
    font-size: 110%;
}

.active{
    border-bottom: 1px solid black;
}

/* carousel bootstrap */
#carousel-container #carousel .carousel-item{
    height: 600px;
    width: 100%;
}

/* Homepage description section */
#offer-title {
    text-align: center;
    margin: 2rem 0;
}


#description img {
    width: 100%;
    height: auto;

}

#description div {
    width: 50%;
    height: auto;
    max-width: 700px; 
    padding: 1rem 2rem;
}

.left-about {
    float: left;
    background-color: blue;
}

.right-about {
    float: right;
    background-color: brown;
}