@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
}

/* headers and logo */
h1, h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: roboto;
}

header {
    background-color:rgb(231, 201, 146);
    margin: 0;
    position: relative;
}

#logo {
    float: left;
    font-size: 250%;
    color:black;
    padding-left: 30px;
    font-family: Zen Dots, sans-serif;
    margin-bottom: 0;
}

/* nav bar */
#menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    background-color: rgb(231, 201, 146);
}

#menu li {
    font-size: 120%;
    list-style-type: none;
    margin: 0 15px;
}

#menu a{
    color:inherit;
    text-decoration: none;
}

#logo, #menu{
    line-height: 75px;
}

#menu a:hover{
    border-bottom: 1px solid chocolate;
    border-top: 1px solid chocolate;
}

.active{
    border-bottom: 1px solid black;
}

#menu button{
    background-color: inherit;
    color: chocolate;
}

#menu button:hover{
    color:black ;
}

/* This is the checkbox used to show and collapse the navigation menu for smaller screens */
#nav-toggle, .nav-toggle-label {
    display: none;
}

/* carousel bootstrap */
#carousel-container #carousel .carousel-item{
    height: 600px;
    width: 100%;
    z-index: 0;
}

/* hero image */
#hero-image-container {
    background-image: url("../images/guitaronfire.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px 1200px;
}

/* Homepage description section */
#offer-title {
    text-align: center;
    margin: 2rem 0;
}

#description {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 100vh;
    grid: 30px;
    margin: auto;
    max-width: 1600px;
}

#description img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 600px;
}

#description div {
    width: 100%;
    height: auto;
    padding: 2rem 3rem;
    text-align: center;
}

.left-about {
    float: left;
    clear: left;
}

.right-about {
    float: right;
    clear: right;
}

/* Opening hours div */
td, th {
    padding: 0 1rem;
}

#opening-hours {
    color: rgb(231, 201, 146);
    height: 50%;
    border: 1px solid grey;
    box-sizing: border-box;
    background-color: black;
    margin: auto;
    max-width: 350px;
}

#opening-hours h4 {
    text-align: left;
}

/* iframe */
iframe {
    width: 100%;
    min-height: 300px;
}

/* footer */
footer {
    width: 100%;
    background-color: rgb(231, 201, 146);
    height: 150px;
    margin-top: 30px;
    padding: 45px 0;
}


#social-media {
    display: flex;
    justify-content: space-evenly;
}

#social-media img {
    height: 60px;
    width: 60px;
}

#social-media li {
    list-style-type: none;
}

/* newsletter form */

form * {
    clear: left;
}

form {
    padding: 10px 20px;
}

.text-input {
    width: 100%;
    border: 1px solid black;
}

#subscribe-button {
    background-color: rgb(231, 201, 146);
    color: black;
}

/* instruments page */
#instruments-nav{
    display: flex;
    justify-content:space-between;
    padding: 15px 60px;
    background-color: black;
}

#instruments-nav  a {
    color:  rgb(231, 201, 146);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    margin: auto;
    max-width: 1600px;
}

#instrument-section {
    padding-bottom: 180px;
    padding: 15px 0;
    color: chocolate;
    text-align: center;
}

.instrument-category {
    grid-column-start: 1;
    grid-column-end: 5;
}

.grid-item img {
    height: auto;
    width: 90%;
}

.grid-item {
    color: black;
}


#buyModal i {
    font-size: 1rem;
}

#book-button{
    background-color: rgb(231, 201, 146);
    color: black;
}

.buy-button{
    padding: 10px 15px;
    border-radius: 20%;
    background-color: rgb(231, 201, 146);
}

/* About Us page */
#about-us-main {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 60px auto;
    column-gap: 30px;
    min-height: 100vh;
    max-width: 1290px;
    background-image: url("../images/black-microphone.jpg");
    background-repeat: no;
    background-size: cover;
}

#about-us-main div {
    width: 100%;
    padding: 30px;
    min-height: 400px;
    max-width: 400px;
    border-radius: 10%;
    max-height: 400px;
}

#about-us-main p {
    background-color: rgba(0,0,0,.5);
    max-width: 400px;
}

#first-paragraph {
    color: rgb(231, 201, 146)
}

#second-paragraph {
    color: rgb(231, 201, 146)
}

#third-paragraph {
    color: rgb(231, 201, 146)
}

/* contact us page */
#contact-us-section {
    display: grid;
    grid-template-columns: auto auto;
    margin: 60px 30px;
}

#your-query-fieldset{
    max-width: 400px;
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

#submit-button{
    background-color: rgb(231, 201, 146);
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 30px;
}

#contact-information {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
}

#contact-information table {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    background-color: rgba(204, 106, 15, 0.5);
}

#query-text {
    height: 5rem;
}

/* for mobile phones */
@media only screen and (max-width: 480px) {
    /* index page */
    h1, h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: roboto;
    }
    
    #logo {
        background-color: rgb(231, 201, 146);
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: 1px;
        padding-left: 10px;
    }

    #menu {
        background-color: rgb(231, 201, 146);
        line-height: 35px;
        display: block;
        display: none;
    }

    #menu li {
        font-size: 100%;
    }

    nav {
        position: absolute;
        text-align: center;
        right: 0;
        z-index: 10;
        top: 75px;
        width: 100%;       
    }

    .nav-toggle-label {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 1rem;
        height: 75px;
        align-items: center;
        width: 2rem;
    }

    .nav-toggle-label span,
    .nav-toggle-label::before,
    .nav-toggle-label::after {
        display: block;
        background: black;
        height: 2px;
        width: 2rem;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label::before,
    .nav-toggle-label::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label::before {
        bottom: 28px;
    }    

    .nav-toggle-label::after{
        top: 29px;
    }

    .nav-toggle:checked ~ #navigation-bar #menu {
        display: block;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a:hover {
        border-bottom: 1px solid chocolate;
        border-top: 1px solid chocolate;
    }

    #hero-image-container {
        height: 400px;
        width: 100%;
        background-size: 640px 400px;
    }

    #offer-title {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }

    #description {
        display: grid;
        grid-template-columns: auto;
    }

    #description div {
        width: 100%;
        height: auto;
        padding: 1rem 1.5rem;
        text-align: center;
    }

    #description h4 {
        font-size: 1.25rem;
    }

    /* footer */
    footer {
        width: 100%;
        background-color: rgb(231, 201, 146);
        height: 100px;
        margin-top: 20px;
        padding: 30px 0;
    }
    
    #social-media img {
        height: 40px;
        width: 40px;
    }

    /* instruments page */

    #instruments-nav{
        display: flex;
        justify-content:space-between;
        padding: 0;
        background-color: black;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 40vh;
        font-size: .8rem;
        width: 70px;
    }
    
    #instruments-nav  a {
        color:  rgb(231, 201, 146);
        padding: 10px 0;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    #instrument-section {
        padding-bottom: 180px;
        padding: 15px 70px 15px 0;
        color: chocolate;
        text-align: center;
    }
    
    #instrument-section h5 {
        font-size: 1rem;
    }

    .instrument-category h4{
        font-size: 1.25rem;
    }

    .instrument-category {
        grid-column-start: 1;
        grid-column-end: 3;

    }

    /* about us page */
    #about-us-main {
        display: grid;
        grid-template-columns: auto;
        margin: 60px 30px;
        column-gap: 30px;
        row-gap: 30px;
    }
}

/* for tablets: */
@media only screen and (min-width: 481px) and (max-width: 799px) {
    h1, h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: roboto;
    }

    #logo {
        background-color: rgb(231, 201, 146);
        width: 100%;
        font-size: 1.75rem;
        letter-spacing: 2px;
        padding-left: 20px;
    }

    #menu {
        background-color: rgb(231, 201, 146);
        line-height: 35px;
        display: block;
        display: none;
    }

    #menu li {
        font-size: 100%;
    }

    nav {
        position: absolute;
        text-align: center;
        right: 0;
        z-index: 10;
        top: 75px;
        width: 100%;       
    }

    .nav-toggle-label {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 1rem;
        height: 75px;
        align-items: center;
        width: 2rem;
    }

    .nav-toggle-label span,
    .nav-toggle-label::before,
    .nav-toggle-label::after {
        display: block;
        background: black;
        height: 2px;
        width: 2rem;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label::before,
    .nav-toggle-label::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label::before {
        bottom: 28px;
    }    

    .nav-toggle-label::after{
        top: 29px;
    }

    .nav-toggle:checked ~ #navigation-bar #menu {
        display: block;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a:hover {
        border-bottom: 1px solid chocolate;
        border-top: 1px solid chocolate;
    }

    #hero-image-container {
        height: 400px;
        width: 100%;
        background-size: 960px 600px;
    }

    #offer-title {
        font-size: 1.75rem;
        margin: 2rem 0;
    }

    #description {
        display: grid;
        grid-template-columns: auto;
    }

    #description div {
        width: 100%;
        height: auto;
        padding: 2rem 3rem;
        text-align: center;
    }

    #description h4 {
        font-size: 1.25rem;
    }

    /* footer */
    footer {
        width: 100%;
        background-color: rgb(231, 201, 146);
        height: 110px;
        margin-top: 20px;
        padding: 30px 0;
    }
    
    #social-media img {
        height: 45px;
        width: 45px;
    }

    /* instruments pager */
    #instruments-nav{
        display: flex;
        justify-content:space-between;
        padding: 0;
        background-color: black;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 40vh;
        font-size: .85rem;
        width: 80px;
    }
    
    #instruments-nav  a {
        color:  rgb(231, 201, 146);
        padding: 15px 0;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 15px;
        row-gap: 15px;
    }
    
    #instrument-section {
        padding-bottom: 180px;
        padding: 15px 80px 15px 0;
        color: chocolate;
        text-align: center;
    }
    
    .instrument-category {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #instrument-section h5 {
        font-size: 1.1rem;
    }

    .instrument-category h4{
        font-size: 1.35rem;
    }

    /* footer */

}

/* for larger tablets */
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    h1, h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: roboto;
    }

    #menu li {
        font-size: 100%;
    }

    #logo {
        font-size: 2rem;
        letter-spacing: 2px;
        padding-left: 20px;
    }

    #offer-title {
        font-size: 2rem;
        margin: 2rem 0;
    }

    #hero-image-container {
        height: 400px;
        width: 100%;
        background-size: 1280px 800px;
    }

    /* footer */
    footer {
        width: 100%;
        background-color: rgb(231, 201, 146);
        height: 130px;
        margin-top: 20px;
        padding: 30px 0;
    }
    
    #social-media img {
        height: 50px;
        width: 50px;
    }
}