@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
}

/* headers and logo */
h1, h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: roboto;
}

header {
    background-color:rgb(231, 201, 146);
    margin: 0;
}

#logo {
    float: left;
    font-size: 250%;
    color:black;
    margin-left: 30px;
    font-family: Zen Dots, sans-serif;
    margin-bottom: 0;
}

/* nav bar */
#menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    background-color: rgb(231, 201, 146);
}

header #navbar-bootstrap {
    background-color: rgb(231, 201, 146);
}

#menu li {
    font-size: 120%;
    list-style-type: none;
}

#menu a{
    color:inherit;
    text-decoration: none;
}

#logo, #menu{
    line-height: 75px;
}

#menu a:hover{
    border-bottom: 1px solid chocolate;
    border-top: 1px solid chocolate;
    font-size: 110%;
}

.active{
    border-bottom: 1px solid black;
}

#menu button{
    background-color: inherit;
    color: chocolate;
}

#menu button:hover{
    color:black ;
}

/* carousel bootstrap */
#carousel-container #carousel .carousel-item{
    height: 600px;
    width: 100%;
}

/* Homepage description section */
#offer-title {
    text-align: center;
    margin: 2rem 0;
}

#description {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 100vh;
    grid: 30px;
    margin: auto;
    max-width: 1600px;
}

#description img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 600px;
}

#description div {
    width: 100%;
    height: auto;
    padding: 2rem 3rem;
    text-align: center;
}

.left-about {
    float: left;
    clear: left;
}

.right-about {
    float: right;
    clear: right;
}

/* Opening hours div */
td, th {
    padding: 0 1rem;
}

#opening-hours {
    color: rgb(231, 201, 146);
    height: 50%;
    border: 1px solid grey;
    box-sizing: border-box;
    background-color: black;
    margin: auto;
    max-width: 350px;
}

#opening-hours h4 {
    text-align: left;
}

/* iframe */
iframe {
    width: 100%;
    min-height: 300px;
}

/* footer */
footer {
    width: 100%;
    background-color: rgb(231, 201, 146);
    height: 150px;
    margin-top: 30px;
    padding: 45px 0;
}

footer table {
    float: left;
}

footer table img {
    height: 30px;
    width: 30px;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
}

#social-media img {
    height: 60px;
    width: 60px;
}

#social-media li {
    list-style-type: none;
}

/* newsletter form */

form * {
    clear: left;
}

form {
    padding: 10px 20px;
}

.text-input {
    width: 100%;
    border: 1px solid black;
}

#subscribe-button {
    background-color: rgb(231, 201, 146);
    color: black;
}

/* instruments page */
#instruments-nav{
    display: flex;
    justify-content:space-between;
    padding: 15px 60px;
    background-color: black;
}

#instruments-nav  a {
    color:  rgb(231, 201, 146);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
}

#instrument-section {
    margin-left: 30px;
    padding-bottom: 180px;
    padding: 15px 0;
    color: chocolate;
    text-align: center;
}

.instrument-category {
    grid-column-start: 1;
    grid-column-end: 5;
}

.grid-item img {
    height: auto;
    width: 90%;
}


#buyModal i {
    font-size: 1rem;
}

#book-button{
    background-color: rgb(231, 201, 146);
    color: black;
}

.buy-button{
    padding: 10px 15px;
    border-radius: 20%;
    background-color: rgb(231, 201, 146);
}

/* About Us page */
#about-us-main {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 60px auto;
    column-gap: 30px;
    min-height: 100vh;
    max-width: 1290px;
    background-image: url("../images/black-microphone.jpg");
    background-repeat: no;
    background-size: cover;
}

#about-us-main div {
    width: 100%;
    padding: 30px;
    min-height: 400px;
    max-width: 400px;
    border-radius: 10%;
    max-height: 400px;
}

#about-us-main p {
    background-color: rgba(0,0,0,.5);
    max-width: 400px;
}

#first-paragraph {
    color: rgb(231, 201, 146)
}

#second-paragraph {
    color: rgb(231, 201, 146)
}

#third-paragraph {
    color: rgb(231, 201, 146)
}

/* contact us page */
#contact-us-section {
    display: grid;
    grid-template-columns: auto auto;
    margin: 60px 30px;
}

#your-query-fieldset{
    max-width: 400px;
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

#submit-button{
    background-color: rgb(231, 201, 146);
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 30px;
}

#contact-information {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
}

#contact-information table {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    background-color: rgba(204, 106, 15, 0.5);
}

#query-text {
    height: 5rem;
}

/* for mobile phones */
@media only screen and (max-width: 768px) {
    #description {
        display: grid;
        grid-template-columns: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .instrument-category {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #about-us-main {
        display: grid;
        grid-template-columns: auto;
        margin: 60px 30px;
        column-gap: 30px;
        row-gap: 30px;
    }
}